.head{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  color: white;
}
.head button{
  width: 80px;
  height:4vh;
  margin-bottom: 20px;
  background-color: #007bff;
}
.search {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  margin-bottom: 20px;

  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;

    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }
}
.nav button {
  background-color: #007bff;
  padding: 2px;
  height:5vh;
  width:15%;
  } 
.user-list {
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background-color: #007bff;
      color: #fff;

      th {
        padding: 10px;
        text-align: left;
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: #f2f2f2;
        }

        td {
          padding: 10px;
        }

        td:last-child {
          button {
            background-color: #a31a28;
            color: #fff;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 5px;

            &:hover {
              background-color: #ec384a;
            }
          }
        }
      }
    }
  }

}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;

  &:hover {
    background-color: #0056b3;
  }
}
.pagination {
  text-align: center;
}

.loading-spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px; /* Adjust the height as needed */
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #007bff; /* Change the color as needed */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}


@media screen and (max-width: 768px) {

  .user-list table {
    width: 100%;
  }

  .user-list th:nth-child(3),
  .user-list td:nth-child(3),
  .user-list th:nth-child(4),
  .user-list td:nth-child(4) {
    display: none; 
  }

  
}